@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-cabecalho: #BE3144;
    --cor-texto-cabecalho: #BE3144;
    --cor-fundo: #151515;
    --cor-texto: #ffffff;
    --cor-rodape: rgba(0, 0, 0, 0.3);
    --cor-texto-hover: #151515;
    
    --fonte-marca: "Cinzel Decorative", serif;
    --fonte-marca-tamanho: 2.5rem;
    --fonte-padrao: "Urbanist", sans-serif;
    --fonte-titulo: 2.3rem;
    --fonte-subtitulo: 1.5rem;
    --fonte-materia: 1.2rem;
    --fonte-menu: 1rem;
    --botao-largura: 78px;
    --botao-padding-vertical: 21px;
    --botao-borda: 2px solid #000000;
    --botao-radius: 8px;
    --botao-transicao: background-color 0.3s, color 0.3s;
    --gap-menu: 48px;
    --gap-padrao: 1.5rem;
    --padding-padrao: 2% 4%;
    --padding-cabecalho: 0.2% 4%;
    --padding-materia: 2% 10%;
    --padding-rodape: 0%, 4%;
    --padding-aba-jogos: 2% 4%;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    background-image: url('../assets/control.jpeg'); /* Caminho da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    min-height: 100vh; /* Garante que o corpo ocupe 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1;
}

.container, .tela-login {
    flex: 1;
}

.cabecalho {
    background-color: var(--cor-cabecalho);
    height: auto;
    color: var(--cor-texto-cabecalho);
    padding: var(--padding-cabecalho);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__marca a {
    text-decoration: none;
    color: var(--cor-texto-cabecalho);
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: var(--fonte-marca-tamanho);
    font-family: var(--fonte-marca);
}

.cabecalho__marca__nome {
    padding: 0;
    margin: 0;
}

.cabecalho__menu__flutuante__links {
    margin: 2em 0 0 0;
}

.menu__flutuante__links__links {
    padding: 0 0.8em;
    margin: 2em 0 0 0;
    text-decoration: none;
    font-size: var(--fonte-materia);
    color: var(--cor-texto-cabecalho);
    font-weight: 500;
    font-family: var(--fonte-padrao);
}



.menu__flutuante__links__links:hover {
    font-size: 23px;
    font-weight: 600;
    transition: 0.3s;    
}

.rodape {
    background-color: var(--cor-rodape);
    display: flex;
    padding: var(--padding-rodape);
    font-family: var(--fonte-padrao);
    align-items:center;
    font-size: var(--fonte-materia);
    flex-direction:row;
    text-align:center;
    margin: 0;
    justify-content: space-around;
    color: #ACA9BB;
}
.rodape__marca__logo {
    width: 60px;
}

.deselvolvedor {
    width: 350px;
    padding: 0;
    margin: 0;
    text-align:right;
}